VITE_SERVER_URL=/api/v2/
VITE_BASE_URI=/elitea_ui
VITE_DEV_SERVER=https://dev.elitea.ai
VITE_DEV_TOKEN=YOUR_ELITEA_TOKEN
VITE_PUBLIC_PROJECT_ID=1
VITE_SOCKET_SERVER=wss://dev.elitea.ai
VITE_SOCKET_PATH=/socket.io/
VITE_USE_NEW_IMPORT=1
VITE_USE_COLLECTION=1
VITE_GAID=
VITE_ELITEA_ASSISTANT=1
VITE_MAINTENANCE_BANNER=1
